
.vs/CIDemo/DesignTimeBuild/.dtbcache
.vs/CIDemo/v15/.suo
.vs/CIDemo/v15/Server/sqlite3/db.lock
.vs/CIDemo/v15/Server/sqlite3/storage.ide
.vs/CIDemo/v15/Server/sqlite3/storage.ide-shm
.vs/CIDemo/v15/Server/sqlite3/storage.ide-wal
CIDemo.sln
test/IdProviderTest.cs
test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
web/bin/Debug/netcoreapp2.1/web.deps.json
web/bin/Debug/netcoreapp2.1/web.dll
web/bin/Debug/netcoreapp2.1/web.pdb
web/bin/Debug/netcoreapp2.1/web.runtimeconfig.dev.json
web/bin/Debug/netcoreapp2.1/web.runtimeconfig.json
web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
web/obj/Debug/netcoreapp2.1/web.AssemblyInfo.cs
web/obj/Debug/netcoreapp2.1/web.AssemblyInfoInputs.cache
web/obj/Debug/netcoreapp2.1/web.assets.cache
web/obj/Debug/netcoreapp2.1/web.csproj.CoreCompileInputs.cache
web/obj/Debug/netcoreapp2.1/web.csproj.FileListAbsolute.txt
web/obj/Debug/netcoreapp2.1/web.csprojAssemblyReference.cache
web/obj/Debug/netcoreapp2.1/web.dll
web/obj/Debug/netcoreapp2.1/web.pdb
web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
web/obj/Debug/netcoreapp2.1/web.RazorAssemblyInfo.cache
web/obj/Debug/netcoreapp2.1/web.RazorAssemblyInfo.cs
web/obj/Debug/netcoreapp2.1/web.RazorTargetAssemblyInfo.cache
web/obj/project.assets.json
web/obj/web.csproj.nuget.cache
web/obj/web.csproj.nuget.g.props
web/obj/project.assets.json
web/obj/web.csproj.nuget.cache
web/obj/web.csproj.nuget.g.props
web/obj/project.assets.json
